PORT=8080
GIN_MODE=debug
DATABASE_URL=host=localhost user=postgres password=postgrespassword dbname=urlshortener_db port=5432 sslmode=disable
JWT_SECRET=super_secret_jwt_key_urlshortener_2026_change_in_production
APP_BASE_URL=http://localhost:8080
FRONTEND_URL=http://localhost:5173
